
/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utilities */

.flex {
    display: flex;
}

.filler {
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}



/* Header -menu */

/* Top */

.upper-header {
    align-items: center;
    padding-bottom: 10px;
}

.image img {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.container {
    padding: 20px;
    border-bottom: 1px solid black;
}

.menu {
    padding-right: 8px;
}

.privacy {
    align-self: center;
    font-size: 27px;
    color: gray;
}

/* Second container */

.second-container {
    width: 1200px;
    margin: 0 auto;
}

.question {
    margin: 20px;
    font-size: 22px;
}
