
/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

img {
    width: 100px;
    height: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Utilities */

.flex {
    display: flex;
}

.filler {
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}

.gray {
    color: gray;
}



/* Header -menu */

/* Top */
body {
    padding-top: 100px;
}


 header {
     position: relative;
 }


.upper-header {
    align-items: center;
    padding-bottom: 10px;
}

.lower-header {
    padding: 5px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.image img {
    width: 55px;
    height: 55px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;
}

.fas {
    padding-right: 10px;
    font-size: 20px;
    color: rgb(41, 40, 40);
    cursor: pointer;

}

.menu {
    padding-right: 14px;
    font-size: 18px;
}

.privacy {
    align-self: center;
    font-size: 27px;
    color: gray;
}

/* Second container */

.second-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
}

